body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* #back-color {
    background: linear-gradient(180deg, rgba(89,89,89,1) 40%, rgba(143,143,143,1) 85%, rgba(177,177,177,1) 100%);
} */

.header-style {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: fit-content;
}

.header-style h3, .header-style h1 {
    background-color: #0b172a;
    border-radius: 0.7rem;
    border: .15rem solid darkgoldenrod;
    color: darkgoldenrod;
    padding: 0.2rem;
    margin: 0.2rem;
}

.hyper-spf {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    background-color: #0b172a;
    border-radius: 0.7rem;
    border: .15rem solid darkgoldenrod;
    padding: 0.2rem;
    max-width: fit-content;
    margin: 0.2rem;
}

#formspf:hover, #expectative:hover {
    color: darkgoldenrod;
}

#formspf, #expectative {
    color: #8b817f;
}

#center-me {
    margin: 0.2rem;
    width: 20%;
    border: .15rem solid darkgoldenrod;
    border-radius: 0.7rem;
}

#bio-spf {
    display: flex;
    position: sticky;
    flex-direction: column;
    margin: 0.2rem;
    border: .15rem solid darkgoldenrod;
    border-radius: 0.7rem;
    background-color: #0b172a;
    color: darkgoldenrod;
    max-width: fit-content;
    padding: 0.2rem;
}

#image {
    background-image: url(/pag-pres/img/images/roadway.leaves.jpg);
    opacity: .5;
}    